@import 'utils/styles/colors'

//File

.file
  // flex: 1
  width: 300px
  display: flex
  align-items: center
  margin: 12px
  text-decoration: none
  &:first-child
    margin:
      left: 0

.icon
  display: inline-block
  padding: 12px
  background: $LIGHT_GRAY
  img
    height: 30px

.info
  margin:
    left: 12px

//Container

.section
  margin: 32px

.wrapper
  padding:
    top: 32px
  display: flex
  flex-wrap: wrap
