@import 'utils/styles/colors.sass'

.challenge
  position: relative
  z-index: 2
  padding:
    bottom: 36px

.section
  margin: 36px
  text-align: center

  &__border
    @extend .section
    padding: 36px
    border: 1px solid $INCOMPANY
    border-radius: 10px

.container
  margin:
    top: 36px
  display: flex
  // flex-wrap: wrap

  > *
    margin: 0 12px
    flex: 33.33%

.hasbackdrop
  position: relative
  &::before
    content: ''
    display: block
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: rgba($LIGHT_BLACK, .8)
    z-index: 3
