@import 'utils/styles/colors'
@import 'utils/styles/mixins'

.tab

    &__rounded
        +borderRadius
        position: relative
        z-index: 2
        display: inline-block
        font:
            size: 14px
            weight: 700
        color: $MEDIUM_BLACK
        text-decoration: none
        padding: 12px
            bottom: 13px
        grid:
            area: t

        &:nth-child(2)
            grid:
                area: b

        &__active
            background: #FBFBFB
            border: 1px solid $LIGHT_GRAY
            border:
                bottom: 0
                right-radius: 0
                left-radius: 0

    &__flat
        position: relative
        display: inline-block
        padding: 12px
        text-decoration: none
        color: $DARK_GRAY
        margin: 0 6px
        cursor: pointer

        &__active
            position: relative
            margin: 0 6px
            color: $MEDIUM_BLACK
            font:
                weight: bold

            &::after
                content: ''
                position: absolute
                left: 0
                bottom: 0
                display: inline-block
                height: 3px
                width: 100%
                background: $MEDIUM_BLACK

.white
    color: white

    &::after
        background: white

.content
    +borderRadius
    margin:
        top: -1px
    border: 1px solid $LIGHT_GRAY
    border:
        top:
            right-radius: 0
            left-radius: 0
        background: #FBFBFB
    grid:
        area: c

.wrapper
    display: grid
    grid:
        template: "t b" "c c"

@media only screen and (max-width: 762px)
    .tab
        &__flat
            padding: 12px 6px
            margin: 6px 2px
