@import 'utils/styles/colors'

.feedbacks
    position: relative
    margin:
        right: -36px
    padding: 24px
        bottom: 0
    border:
        top-left-radius: 50px
    background: #F8F9FB
    height: 100%
    overflow: hidden

.header
    display: flex
    justify-content: space-between
