

.dashboard

    &__talento
        display: grid
        grid-template:
            columns: 1fr 1fr 1fr
            areas: 'insignia insignia insignia' 'desafios desafios feedbacks'
        padding: 36px

    &__empresa
        padding: 36px