@import 'utils/styles/colors.sass'

.header
    display: flex
    justify-content: space-between
    align-items: center
    padding: 24px
    left: 56px
    background: rgba($MEDIUM_GRAY, .1)
    border:
        bottom: 1px solid rgba($MEDIUM_BLACK, .1)

.name
    color: $MEDIUM_BLACK

.subheader
    // position: relative
    padding: 16px 36px
    // top: 24px
    bottom: 0
    background: $LIGHT_BLACK

@media only screen and (max-width: 762px)
    .header
        padding: 18px

    .subheader
        padding: 6px
        margin:
            bottom: 24px
        display: block
        // overflow: auto
