

.card
    flex: 1
    display: flex
    justify-content: center
    margin:
        right: 12px
    &:last-child
        margin:
            right: 0

.icon
    position: relative
    height: 0
    padding:
        bottom: 35%
    width: 35%
    border-radius: 300px
    margin:
        right: 12px

    img
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)

.content
    text-align: center