
.copyright
    display: inline-block
    color: #6C767D
    font:
        size: 12px
    margin: 20px 0

@media only screen and (max-width: 762px)
    .copyright
        padding: 24px 0
        position: static
