@import 'utils/styles/colors'

.banner
    display: flex
    justify-content: flex-end
    padding: 68px 36px
    margin:
        bottom: 24px
    border-radius: 5px
    background: $DARK_BLUE

.content
